@if (ViewBag.ShowHeader != null && ViewBag.ShowHeader)
{
        <header class="jumbotron subhead">
            <div class="container">
                <h1>@ViewBag.Title</h1>
                <div class="tag-line">@ViewBag.SubTitle</div>
            </div>
        </header>
}
