        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <a class="brand" href="#">MVC Boilerplate, based on Twitter's Bootstrap</a>
          </div>
        </div>