@{
    ViewBag.Title = "Index";
}

<div class="build-yourapp-placeholder">
    <h2>Your MVC Boilerplate App</h2>
    <p>Build your app here</p>

    <p>or</p>
    <p>visit the @Html.ActionLink("developer guide", "Index", "DeveloperGuide") for conventions and inspiration</p>
</div>