@{
    ViewBag.Title = "Conventions";
    
    ViewBag.CurrentNav = "Conventions";
    ViewBag.UseGoogleAnalytics = false;            
}    


<h2>Conventions</h2>

{ ...PMSI Conventions will go here... }

<h3>CSS</h3>
<ul>
    <li>Class names should be all lower case (following jQuery UI)</li>
    <li>Class names should not be camelcase but rather combine words using hyphens (following jQuery UI) eg.  <code>ui-state-default</code>, <code>customer-allocation-table</code></li>
</ul>

<h3>MVC Scaffolding</h3>
<ul>
    <li>Partial views should be prefixed with an underscore</li>
</ul>

