@{
    Layout = "~/Views/Shared/_Layout_jQueryOnly.cshtml";    
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div id="jQueryUiButtonSet">
        <input type="checkbox" id="check1" /><label for="check1">B</label>
        <input type="checkbox" id="check2" /><label for="check2">I</label>
        <input type="checkbox" id="check3" /><label for="check3">U</label>
    </div>

<script>
    $(document).ready(function () {
        $("#jQueryUiButtonSet").buttonset();
    });
</script>